@-webkit-keyframes play {
   from { left:    -5px; }
     to { left: -800px; }
}

@-moz-keyframes play {
    from { left:    -5px; }
     to { left: -800px; }
}

@-ms-keyframes play {
   from { left:    -5px; }
     to { left: -800px; }
}

@-o-keyframes play {
   from { left:    -5px; }
     to { left: -800px; }
}

@keyframes play {
   from { left:    -5px; }
     to { left: -800px; }
}